.cards{
    max-width: 1200px;
    margin: auto;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

@media screen and (max-width:600px) {
    .cards{
        padding-top: 145px;
    }
}