.no-background {
  background: url("/public/ram_background.webp");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .no-background {
    background-size: 150px;
  }
}
