header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 13px;
  background: url("../../images/card.png");  z-index: 2;
}

.links{
  padding-left: 30px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.link{
  color: white;
  text-decoration: none;
}
