header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 13px;
  background: url("/public/card.webp");
  z-index: 2;
}

header .links {
  padding-left: 30px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

header .link {
  color: white;
  text-decoration: none;
}

header .links2 {
  display: none;
}

header .icon {
  display: none;
}

header .button_logout {
  width: 70px;
  border: 2px;
  color: white;
  background-color: #4ca34c;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

header .button_logout:hover {
  background-color: #c8f92c;
  color: #052b3f;
}

header .fawe2 {
  display: none;
}

@media screen and (max-width: 600px) {
  header {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header .links {
    display: none;
  }

  header .icon {
    display: block;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    padding: 8px;
    cursor: pointer;
    width: 75px;
  }

  header .links2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  header .button_logout{
    padding: 3px 0px;
  }
}

@media screen and (max-width: 400px) {
  header .button_logout{
    width: 30px;
  }

  header .fawe2 {
    display: inline;
  }

  header .button_logout span {
    display: none;
  }
}
